<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variations on a Theme</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/s3.css') }}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(function() {
        $("input:file").change(function (){
          var fileName = $(this).val();
          var files = $("input:file")[0].files
          if (files.length > 0) {
            if (files.length == 1) {
              $(".custom-file-upload").html('1 File Selected');
            }
            else {
              $(".custom-file-upload").html(files.length + ' Files Selected');
            }
          }
          else {
            $(".custom-file-upload").html('Choose File');
          }
        });
      });
    </script>
</head>
<body>
    <div class = "container">
      <div class="submit">
        <label class="text-muted">Variations on a Theme</label>
        <form class="form" action="uploads" method = "post"  enctype = "multipart/form-data">
            <label class="custom-file-upload" for="inputFile">Choose File</label>
              <input class = "inputFile" id="inputFile" type="file" name="file[]" multiple="multiple">
            <input class = "buttonSubmit" type="submit" value="Vary!">
            <button class="up" onclick="location.href='https://variationsonatheme.herokuapp.com/uploads/past'" type="button">
              Past Uploads
            </button>
            <button class="down" onclick="location.href='http://variationsonatheme.herokuapp.com/downloads/past'" type="button">
              Past Variations
            </button>
            <button class="b" onclick="location.href='http://variationsonatheme.herokuapp.com/uploads/tmpb6zr291480568083.08.mid'" type="button">
              Need a song?
            </button>
            <button class="api" onclick="location.href='http://www.bachcentral.com/midiindexcomplete.html'" type="button">
              API
            </button>
        </form>
      </div>
    </div>
</body>
</html>
