<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variations on a Theme</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class = "container">
        <div class = "header">
            <h3 class="text-muted">Variations on a Theme</h3>
        </div>
        <div>
        <form action="upload" method = "post"  enctype = "multipart/form-data">
            <input type="file" name="file"><br /><br />
            <input type="submit" value="Variate!">
        </form>
        </div>
    </div>
</body>
</html>
